body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.small-container {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid fuchsia; */
}

.small-wrapper {
    padding: 0 .5em 1em;
}

.big-container {
    background-image: url(./Images/hero_bg_image/cctv_bg.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-tint-color {
    background: rgb(0,0,0,0.5);
}

.nav-bar {
    padding-top: 1em;
    align-self: center;
}

.logo {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    /* border: 3px solid #C7B816;*/
    padding: .2em;
    text-align: center; 
}

.makit {
    color: #FCC60E;
}

.menu ul {
    font-family: "Jura", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0;
    margin: 0 1em; 
    margin-top: 1em;
}

.active-nav {
    border-bottom: 2px solid;
}

.hero-text {
    color: #F5F5F5;
    font-optical-sizing: auto;
    font-family: "Jura", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header {
    font-size: 2.4rem;
    line-height: 1.3em;
    max-width: 850px;
}

.hero-paragraph {
    font-size: 1rem;
}

.hero-btn {
    font-family: "Jura", sans-serif;
    font-size: rem;
    font-weight: 800;
    border: 1px solid #C6FC0E;
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1.2em 2em;
    text-transform: uppercase;
    background: #C6FC0E;
    max-width: 150px;
    border-radius: 5px;
    opacity: 90%;
}

.content-bg {
    background: #FFFFFF;
}

.profession {
    color: #2A2A2A;
    padding-top: 2em;
    margin-bottom: 3em;
}

.pro-title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: .3em;
}

.pro-underline {
    margin: 0 auto;
    border: 2px solid #C7B816; 
    border-radius: 5em;
    max-width: 4em;
}

.pro-wrapper {
    color: #2A2A2A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.pro-content {
    display: flex;
    flex-direction: column;
    width: 280px;
    background: #F5F5F5;
    padding: 0 .5em;
    padding-bottom: 1em;
    border: 1px solid #F2ECFF;
    border-radius: 10px;
    margin: 0 auto;
}

.pro-content-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5em 0;
    opacity: 95%;
}

.pro-content img {
    width: 60px;
    margin: 0 auto;
    margin-bottom: .5em;
}

.pro-description {
    font-family: "Jura", sans-serif;
    color: #000;
    font-weight: 600;
    text-align: center;
    padding: 0 .3em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.service-cat {
    padding-top: 1em;
}

.service-cat-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 3.5em;
    gap: 3em;
}

.catalog-title {
    font-size: 1rem;
    color: #2A4F48;
}

.catalog-img {
    width: 130px;
}

.catalog-img img {
    height: 115px;
    width: inherit;
    border: 1px solid #20C1B8;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.catalog-border-color img {
    border: 1px solid #C7B816;
}

.service-cta-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #E7F8F7;
    margin-bottom: 4em;
}

.service-cta-text {
    align-content: center;
    width: 100%;
    color: #2A4F48;
}

.service-cta-title {
    font-size: 2rem;
}

.service-cta-title, .service-cta-paragraph {
    line-height: 1.5em;
}

.service-cta-paragraph {
    font-family: "Jura", sans-serif;
    font-weight: 800;
}

.service-cta-btn {
    font-family: "Jura", sans-serif;
    color: #F5F5F5;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    background: #03989E;
    text-align: center;
    padding: 1.2em 0;
    margin: 2em 0;
    border-radius: 5px;
}

.service-cta-img img {
    width: 100%;
    padding: .5em 0;
}

.footer-wrapper {
    color: #c0bebe;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    object-fit: cover;
    background-image: url(./Images/hero_bg_image/andrew-kliatskyi-MaVm_A0xhKk-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 15%;
    padding: 2em 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

.service-nav-container {
    color: #F5F5F5;
}

.service-text-wrapper {
    margin-bottom: 4em;
}

.service-bg-img {
    background-image: url(./Images/service_header_img/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
}

.service-bg-color {
    background: rgb(0, 0, 0,0.5);
}

.service-hero-sec {
    padding: 4em 0;
    display: none;
}

.service-hero-title {
    max-width: 90%;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #F5F5F5;
    border: 4px solid #F5F5F5;
    padding: 1em 0;
    text-align: center;
    margin: 0 auto;
}

.service-pro-underline {
    border: 2px solid #C7B816;
}

.service-title-paragraph {
    width: 95%;
    text-align: center;
    margin: 0 auto; 
    line-height: 1.5em;
}

.service-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-bottom: 4em;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border: 1px solid #2A4F48;
}

.service-item-title {
    font-size: .8rem;
    color: #F5F5F5;
    text-align: center;
    width: inherit;
    background: #2A4F48;
}

.service-item img {
    width: 25%;
    padding: 1.8em 0;
    justify-self: center;
}

.service-item-text {
    color: #2A2A2A;
    text-align: center;
    padding: 0 1em;
    padding-bottom: 1em;
    line-height: 1.2em;
}

.service-item-google {
    border: 1px solid #761D85;
}

.google-color {
    background: #761D85;
}

.service-item-media {
    border: 1px solid #FCC60E;
}

.media-color {
    color: #2A2A2A;
    background: #FCC60E;
}

.service-item-product {
    border: 1px solid #20C1B8;
}

.product-color {
    color: #2A2A2A;
    background: #20C1B8;
}

.service-item-web {
    border: 1px solid #093A99;
}

.web-color {
    background: #093A99;
}

.market-slogan {
    border: 2px solid #F5F5F5;
    margin: 1em;
}

.title-slogan {
    font-size: 2rem;
    color: #2A4F48;
    text-align: center;
}

.slogan-quote {
    font-size: 2em;
    color: #20C1B8;
}

.service-items-btn {
    font-size: .7rem;
    color: #F5F5F5;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #00A082;
    background: #00A082;
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    margin-top: 4em;
    margin-bottom: 12em;
}

.wave-svg {
    position: relative;
}

.wave-svg img {
  position: absolute;
  bottom: 0;
}

.about-bg-img {
    background: url(./Images/about_header_img/annie-spratt-OTy0mkqc2Yk-unsplash.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.founder-ceo-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.founder-text-wrapper {
    align-self: center;
}

.pro-title-who {
    font-size: 1.8rem;
}

.founder-ceo-text {
    font-size: .9rem;
    text-align: center;
    margin-top: 2em;
}

.founder-img {
    width: 300px;
    display: flex;
    justify-content: center;
}

.founder-img img {
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

.about-paragraph-wrapper {
    padding: 0 1em;
}

@media (min-width: 820px) {

    .small-wrapper {
        padding: 0 2em 1em;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
    }

    .menu {
        width: 50%;
    }

    .menu ul {
        display: flex;
        margin: 0;
    }

    .hero-header {
        font-size: 3rem;
    }

    .hero-paragraph {
        font-size: 1.2rem;
    }

    .hero-btn {
        margin-bottom: 5em;
    }

    .service-cat-wrapper {
        justify-content: space-between;
        padding-bottom: 5em;
    }

    .service-cta-wrapper {
        flex-direction: row;
    }

    .service-cta-paragraph {
        margin-bottom: 4em;
    }

    .footer-wrapper {
        padding-top: 4em;
        padding-bottom: 4em;
        flex-direction: row;
        align-items: center;
    }

    .service-nav-container {
        padding-bottom: 0;
    }

    .service-hero-sec {
        display: block;
    }
    
    .service-hero-title {
        max-width: 400px;
        margin: 0 auto;
    }

    .service-text-wrapper {
        margin-bottom: 5em;
    }

    .service-title-paragraph {
        width: 600px;
    }

    .service-items-container {
        gap: 7em;
        margin-bottom: 5em;
    }

    .service-items-btn {
        width: 250px;
        margin-bottom: 22em;
    }
    
    .founder-ceo-wrapper {
        padding-top: 2em;
        gap: 8em;
    }
 
}
