body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.small-container {
    max-width: 1366px;
    margin: 0 auto;
}

.small-wrapper {
    padding: 0 .5em 1em;
}

.big-container {
    background-image: url(./Images/hero_bg_image/cctv_bg.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-tint-color {
    background: rgb(0,0,0,0.5);
}

.nav-bar {
    padding-top: 1em;
    align-self: center;
}

.logo {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center; 
}

.makit {
    color: #FCC60E;
}

.menu ul {
    font-family: "Jura", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0;
    margin: 0 1em; 
    margin-top: 1em;
}

.active-nav {
    border-bottom: 2px solid;
}

.hero-text {
    color: #F5F5F5;
    font-optical-sizing: auto;
    font-family: "Jura", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header {
    font-size: 2.4rem;
    line-height: 1.3em;
    max-width: 850px;
}

.hero-paragraph {
    font-size: 1rem;
}

.hero-btn {
    font-family: "Jura", sans-serif;
    font-size: rem;
    font-weight: 800;
    border: 1px solid #C6FC0E;
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1.2em 2em;
    text-transform: uppercase;
    background: #C6FC0E;
    max-width: 150px;
    border-radius: 5px;
    opacity: 90%;
}

.content-bg {
    background: #FFFFFF;
}

.profession {
    color: #2A2A2A;
    padding-top: 1.5em;
    margin-bottom: 2.5em;
}

.pro-title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: .2em;
}

.pro-underline {
    margin: 0 auto;
    border: 2px solid #C7B816; 
    max-width: 5em;
}

.pro-wrapper {
    color: #2A2A2A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.pro-content {
    display: flex;
    flex-direction: column;
    width: 280px;
    background: #F5F5F5;
    padding: 0 .5em;
    padding-bottom: 1em;
    border: 1px solid #F2ECFF;
    border-radius: 10px;
    margin: 0 auto;
}

.pro-content-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5em 0;
    opacity: 95%;
}

.pro-content img {
    width: 60px;
    margin: 0 auto;
    margin-bottom: .5em;
}

.pro-description {
    font-family: "Jura", sans-serif;
    color: #000;
    font-weight: 600;
    text-align: center;
    padding: 0 .3em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.service-cat {
    padding-top: 1em;
}

.service-cat-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 3.5em;
    gap: 3em;
}

.catalog-title {
    font-size: 1rem;
    color: #2A4F48;
    padding-bottom: .5em;
}

.catalog-img {
    width: 130px;
}

.catalog-img img {
    height: 115px;
    width: inherit;
    border: 1px solid #20C1B8;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.catalog-border-color img {
    border: 1px solid #C7B816;
}

.service-cta-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #E7F8F7;
    margin-bottom: 4em;
}

.service-cta-text {
    align-content: center;
    width: 100%;
    color: #2A4F48;
}

.service-cta-title {
    font-size: 2rem;
}

.service-cta-title, .service-cta-paragraph {
    line-height: 1.5em;
}

.service-cta-paragraph {
    font-weight: 400;
    opacity: 80%;
}

.service-cta-btn {
    font-family: "Jura", sans-serif;
    color: #F5F5F5;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    background: #03989E;
    text-align: center;
    padding: 1.2em 0;
    margin: 2em 0;
    border-radius: 5px;
}

.service-cta-img img {
    width: 100%;
    padding: .5em 0;
}

.footer-wrapper {
    background-image: url(./Images/hero_bg_image/andrew-kliatskyi-MaVm_A0xhKk-unsplash.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 2em 1em;
}

.footer-container {
    color: #c0bebe;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.copy-right {
    font-family: "Jura", sans-serif;
    color: white;
    text-align: center;
    opacity: 50%;
    margin-top: 3em;
}

a {
    color: inherit;
    text-decoration: none;
}

.service-text-wrapper {
    margin-bottom: 4em;
}


.service-bg-color {
    background: #2A2A2A;
}

.service-hero-img {
    background-image: url(./Images/service_catalog_images/LAN.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-hero-tint {
    background: rgb(0,0,0,0.5);
}

.service-hero-text {
    font-family: "Jura", sans-serif;
    font-size: 1.5rem;
    color: #F5F5F5;
    padding: 1em;
    margin: 0;
    max-width: 500px;
}

.service-hero-btn {
    font-size: 1rem;
    font-family: "Jura", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #2A4F48;
    border: 1px solid #C6FC0E;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #C6FC0E;
}

.service-pro-underline {
    margin-top: .5em;
    border: 2px solid #C7B816;
}

.service-title-paragraph {
    width: 95%;
    margin: 0 auto;  
    line-height: 2em;
    text-align: center;
}

.service-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    margin-bottom: 2em;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.service-item-title h4 {
    font-family: "Jura", sans-serif;
    font-size: 1.2rem;
    color: #2A4F48;
    text-align: center;
    width: inherit;
    font-weight: bolder;
    border-left: 4px solid #FFA035;
    padding-left: .5em;
}

.service-item img {
    width: 25%;
    padding: 1em 0;
    justify-self: center;
}

.service-item-text {
    color: #2A2A2A;
    text-align: center;
    
    padding-bottom: 1em;
    line-height: 1.5em;
}

.testimonial-wrapper {
    color: #2A2A2A;
    background-color: #4d4c4c;
    padding-bottom: .5em;
    margin-bottom: 4em;
}

.testimonial-container {
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
}

.testimonial-title {
    color: #FFFFFF;
    font-size: 1.7rem;
    text-transform: capitalize;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1em;
}

.testimonial-item {
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.testimonial-content {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: .5em;
    padding-right: .5em;
}

.client-name {
    font-size: 1.2rem;
    color: #2A4F48;
}

.client-title {
    font-size: 14px;
    color: #6e8323;
    font-weight: 550;
}

.client-comment {
    line-height: 1.5;
    padding: .5em 0;
}

.client-rat-wrapper {
    display: flex;
    gap: .5em;
    justify-content: center;
}

.client-ratting {
    width: 20px;
}

.about-bg {
    background-image: url(./Images/about_header_img/about_bg.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 200px;
}

.about-top-bg {
    transform: rotate(180deg);
}

.btech-about-content {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
}

.about-founder-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-btech-title {
    font-size: 2rem;
    color: #2A2A2A;
    padding-bottom: 1em;
}

.about-underline {
    border-bottom: 4px solid #C7B816;
}

.founder-img {
    font-size: .9rem;
    color: #2A2A2A;
    width: 300px;
    border: 2px solid #B3E3DA;
    border-radius: 10px;
    text-align: center;
    font-weight: 550;
}

.founder-img img {
    width: 100%;
}

.founder-title {
    color: #2A2A2A;
    padding: .5em 0;
}

.about-founder-paragraph {
    line-height: 1.7;
    margin-top: 3em;
}

.about-btn {
    font-family: "Jura", sans-serif;
    color: #352b0d;
    margin: 4em auto;
    padding: 1em 3em;
    border: 1px solid #a38626;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    background-color: #FCC60E;
    text-transform: uppercase;
    padding: 1.2em 2em;
    font-weight: 800;
}


@media (min-width: 820px) {

    .small-wrapper {
        padding: 0 2em;
    }

    .modify-small-wrapper {
        padding-bottom: 1em;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
    }

    .menu {
        width: 50%;
    }

    .menu ul {
        display: flex;
        margin: 0;
    }

    .hero-header {
        font-size: 3rem;
    }

    .hero-paragraph {
        font-size: 1.2rem;
    }

    .hero-btn {
        margin-bottom: 5em;
    }

    .service-cat-wrapper {
        justify-content: space-between;
        padding-bottom: 5em;
    }

    .service-cta-wrapper {
        flex-direction: row;
    }

    .service-cta-paragraph {
        margin-bottom: 4em;
    }

    .testimonial-title {
        padding-bottom: 0;
    }

    .testimonial-container {
        margin: 4em;
        justify-content: space-between;
    }

    .btech-about-content {
        padding-top: 4em;
    }

    .about-founder-container {
        justify-content: space-between;
    }

    .about-founder-paragraph {
        margin-top: 5em;
    }

    .footer-wrapper {
        padding-top: 3em;
        padding-bottom: 3em;
        flex-direction: column;
    }

    .service-hero-text {
        padding-left: 2em;
    }
    
    .service-text-wrapper {
        margin-bottom: 5em;
    }

    .service-title-paragraph {
        width: 70%;
    }

    .service-items-container {
        gap: 6em;
        margin-bottom: 5em; 
    }

    .service-items-btn {
        width: 250px;
        margin-bottom: 22em;
    }
    
    .founder-ceo-wrapper {
        padding-top: 2em;
        gap: 8em;
    }

    .footer-container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
 
}
